@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply m-0 p-0;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

body {
  @apply flex flex-col bg-mono-50 text-mono-950;
  text-rendering: geometricPrecision;
  overflow-wrap: break-word;
}

::selection {
  @apply bg-mono-950 text-mono-50;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.hidden-scrollbar {
  scrollbar-width: none;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0.2;
  }

  40% {
    opacity: 0.4;
  }

  60% {
    opacity: 0.6;
  }

  80% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}