@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #EEEEEE;
  --foreground-color: #111111;
  --selection-background: #111111;
  --selection-text: #EEEEEE;
}

html,
body {
  margin: 0;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  color: var(--foreground);
  background: var(--background);
  text-rendering: optimizeLegibility;
}

::selection {
  background-color: var(--selection-background);
  color: var(--selection-text);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .hidden-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hidden-scrollbar {
    scrollbar-width: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}